body {
    padding-top: 70px;
}

/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;

}

.logo{
  border-radius: 10px;
  background-color: black;
  padding: 2px;
}

.heading{
  margin-top: 20px;

}

#Search {
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 3px; 

  }

#Search:hover {
  background-color: grey;
  color: white;

}

#tracks{
  margin-top: 80px;
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
  
}

#card{
  background-color: #3a423c;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: aliceblue;
  text-align: center;
  border: 1px solid ivory;
}

#addToPlaylistBtn{
  border: ivory 1px solid;
  border-radius: 30px;
}

#addToPlaylistBtn:hover{
  background-color: gray; 
  
}

#playlistCards{
  background-color: #3a423c;
  padding: 10px;
  border-radius: 20px;
  /* display:table; */
  justify-content: center;
  /* flex-direction: row; */
  
}
/* 
#card{
  padding: 30px;
  margin: 20px;
  background-repeat: no-repeat; 
  background-size: 300px 200px;
  border-radius: 10px;
  display: inline-block;
} */

#playlistName{
  background-color: #3a423c; 
  border-radius: 10px;
  max-width: 100px;
  display: inline-block;
  padding: 5px;
  transition: ease-in-out 0.1s;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

#playlistName:hover{
  background-color: grey;
  opacity: 1;
  padding: 8px;
  
}

#playlistDesc{
  padding: 2px 5px;
  background-color: #3a423c;
  border-radius: 10px;
  color: #ffffff;
}





